/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 / {
	aliases {
		// Configure PWM module for led1 (LED2 on the board)
		pwm-led1 = &pwm_led1;

		// Use watchdog wdt31 as the application watchdog
		watchdog0 = &wdt31;

		/* Two PCF8574 share INT# on P0.02 */
		pcf8574a-left = &io_keyboard_left;
		pcf8574a-right = &io_keyboard_right;
	};

	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};

	/* Relay control pins - use zephyr,user node for custom GPIO configuration */
	zephyr,user {
		relay1-gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
		relay2-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>;
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led1: pwm_led_1 {
			pwms = <&pwm20 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};
};

// restore full RRAM and SRAM space - by default some parts are dedicated to FLRP
&cpuapp_rram {
	reg = <0x0 DT_SIZE_K(1524)>;
};

&cpuapp_sram {
	reg = <0x20000000 DT_SIZE_K(256)>;
	ranges = <0x0 0x20000000  0x40000>;
};

// TODO: re-enable HWFC once it's fixed
&uart20 {
	/delete-property/ hw-flow-control;
};

&mx25r64 {
	status = "okay";
};

&pwm20 {
	status = "disabled";
	pinctrl-0 = <&pwm_default>;
	pinctrl-1 = <&pwm_sleep>;
	pinctrl-names = "default", "sleep";
};

&pinctrl {
	pwm_default: pwm_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT1, 1, 10)>;
		};
	};
	pwm_sleep: pwm_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT1, 1, 10)>;
			low-power-enable;
		};
	};

	uart20_default: uart20_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 4)>;
		};

		group2 {
			psels = <NRF_PSEL(UART_RX, 1, 5)>;
			bias-pull-up;
		};
	};

	uart20_sleep: uart20_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 4)>,
				<NRF_PSEL(UART_RX, 1, 5)>;
			low-power-enable;
		};
	};
};

&wdt31 {
	status = "okay";
};

// Change IRQ ids to handle button interrupts.

// The default values for nRF54L15 are 219 and 269,
// but with TF-M they are reserved for the secure domain
// (218 and 268 are reserved for the non-secure domain).
&gpiote20 {
	interrupts = <218 NRF_DEFAULT_IRQ_PRIORITY>;
};

&gpiote30 {
	interrupts = <268 NRF_DEFAULT_IRQ_PRIORITY>;
};

&clock {
	status = "okay";
};


&led0 {
	gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
};
&led1 {
	gpios = <&gpio1 10 GPIO_ACTIVE_LOW>; /* P1.10 — avoid P1.07 (AIN3 / ADC CH1) */
};
/* Disable led2 and led3 since they are now used as relay control pins */
&led2 {
	status = "disabled";
};

&led3 {
	status = "disabled";
};

&button0 {
	gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
	status = "okay";
};


&button1 {
	status = "disabled";
};

&button2{
	status = "disabled";
};

&button3 {
	status = "disabled";
};

&pinctrl {
	i2c22_default: i2c22_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 13)>,
				<NRF_PSEL(TWIM_SCL, 1, 12)>;
			bias-pull-up;
		};
	};
	i2c22_sleep: i2c22_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 13)>,
				<NRF_PSEL(TWIM_SCL, 1, 12)>;
			low-power-enable;
			bias-pull-up;
		};
	};
};


&i2c22 {
	status = "okay";

	pinctrl-0 = <&i2c22_default>;
	pinctrl-1 = <&i2c22_sleep>;
	pinctrl-names = "default", "sleep";

	/*
	 * I2C addresses for PCF8574:
	 * - Left  : A2/A1/A0 = 000 -> 0x20
	 * - Right : A2/A1/A0 = 001 -> 0x21 (A0 tied to 3.3V)
	 */
	io_keyboard_left: io_keyboard_left@20 {
		compatible = "nxp,pcf857x";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
	};

	io_keyboard_right: io_keyboard_right@21 {
		compatible = "nxp,pcf857x";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
	};



	clock-frequency = <I2C_BITRATE_STANDARD>;
};



/ {
	zephyr,user {
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>;
		/* Both PCF8574 INT# wired together -> MCU P0.02 (open-drain, active low) */
		pcf8574-int-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};
};

/*
 * SAADC pin map (nRF54L15): AIN2=P1.06, AIN3=P1.07, AIN4=P1.11, AIN7=P1.14.
 * I2C22 uses P1.12 (AIN5) and P1.13 (AIN6) — do not use those for ADC.
 */
&adc {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN4>; /* P1.11 */
		zephyr,resolution = <12>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN2>; /* P1.06 */
		zephyr,input-negative = <NRF_SAADC_AIN3>; /* P1.07 */
		zephyr,resolution = <12>;
	};

	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN7>; /* P1.14 */
		zephyr,resolution = <12>;
	};
};
